body {
    background-color: rgb(70, 140, 233);
    font-family: arial;
    font-size: 22px;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: auto ;
    box-shadow: 5px 5px 10px rgb(34, 34, 34);   
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#txt1 {
    width: 60px;
    height: 25px;
}

#txt2 {
    width: 60px;
    height: 25px;
}

#txt3 {
    width: 60px;
    height: 25px;
    margin-left: 15px;
}

#but {
    width: 110px;
    text-align: center;
    height: 30px;
    margin-top: 10px;
}

#dados {
    text-align: left;
}